<div ng-controller="dashboardCtrl">
    <div class="container p-3">
        <div class="row">
            <div class="col">
                <H1>Dashboard</H1>
                <br/>
                <div class="row">
                    <div class="col-2">
                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                            <div class="card-header">
                                <i class="fa fa-link"></i> Navigations
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{data.navigations}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header">
                                <i class="fa fa-photo-video"></i> Sliders
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{data.sliders}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                            <div class="card-header">
                                <i class="fa fa-newspaper"></i> All Blog</div>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{data.allBlog}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                            <div class="card-header">
                                <i class="fa fa-newspaper"></i> Active Blog</div>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{data.activeBlog}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                            <div class="card-header"><small>Product Categories</small></div>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{data.categories}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card text-white bg-info  mb-3" style="max-width: 18rem;">
                            <div class="card-header">All Products</div>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{data.products}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card  bg-light mb-3" style="max-width: 18rem;">
                            <div class="card-header">Exists Products</div>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{data.existsProducts}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                            <div class="card-header"><small>Enable Products</small></div>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{data.enableProducts}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Users</div>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{data.users}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                            <div class="card-header">Active Users</div>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{data.activeUsers}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                            <div class="card-header">Customers</div>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{data.customers}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                            <div class="card-header">Invoices</div>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{data.invoices}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
                            <div class="card-header"><small>Payed Invoices</small></div>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{data.payedInvoices}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>